@font-face {
  font-family: "iconfont"; /* Project id 2688794 */
  src: url('iconfont.woff2?t=1627910475250') format('woff2'),
       url('iconfont.woff?t=1627910475250') format('woff'),
       url('iconfont.ttf?t=1627910475250') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fl-xinxi:before {
  content: "\e633";
}

.icon-cuowu:before {
  content: "\e623";
}

.icon-jinggao:before {
  content: "\e715";
}

.icon-add-s:before {
  content: "\e637";
}

.icon-xiugai:before {
  content: "\e606";
}

.icon-sousuo:before {
  content: "\e638";
}

.icon-shanchu:before {
  content: "\e615";
}

.icon-daohang:before {
  content: "\e625";
}

.icon-xitongguanli:before {
  content: "\e609";
}

.icon-huaban61:before {
  content: "\e600";
}

.icon-checkbox-sharp:before {
  content: "\e85a";
}

.icon-shezhi1:before {
  content: "\e622";
}

.icon-warning:before {
  content: "\e63b";
}

