*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

input[type='checkbox'] {
    padding: 0;
    margin: 0;
}

.form-row {
    width: 100%;
    min-height: 31px;
    line-height: 31px;
    margin-top: 10px;
}

.form-row > .edit-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
}

.edit-wrapper > .edit-title {
    flex: 0 0 auto;
}

.edit-wrapper > .edit-title.bold {
    font-weight: bold;
}

.edit-wrapper > .edit-value {
    flex: 1 1 100%;
    display: block;
    padding-left: 10px;
    position: relative;
}

.edit-wrapper .edit-control {
    flex: 1 1 100%;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 3px;
}

.edit-wrapper .edit-control:disabled {
    cursor: not-allowed;
}

.edit-wrapper .edit-control.warn {
    border-color: red;
}

.edit-wrapper > .edit-value .edit-control {
    padding-left: 10px;
    width: 100%;
    height: 31px;
    margin-left: 0;
}

.edit-wrapper > .edit-value .edit-hint {
    height: fit-content;
    line-height: 14px;
    padding-left: 5px;
    color: red;
    font-size: 12px;
    padding-top: 2px;
    display: none;
}

.edit-wrapper > .edit-value .edit-hint.show {
    display: block;
}

.edit-wrapper .edit-control:focus {
    border-color: #66afe9;
    box-shadow: 0 0 4px #66afe9;
}

.edit-wrapper .edit-control::placeholder {
    color: #b399a6;
}

.form-row > .edit-wrapper.single > .edit-control {
    margin-left: 0;
}

.word-hold {
    display: inline-block;
    width: 12px;
}

.word-hold.h14 {
    width: 14px;
}

.word-hold.half {
    width: 6px;
}

.line-input {
    border-width: 0 0 1px 0 !important;
}

.line-input:focus {
    outline: none;
}

.line-input.warn {
    border-color: transparent transparent red transparent !important;
}

.edit-checkbox-wrapper {
    display: inline-block;
}

.edit-checkbox-wrapper > input[type='checkbox'] {
    position: relative;
    top: 2px;
}

/*基础元素*/

a{
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label > input[type='checkbox'] {
    position: relative;
    top: 2px;
}

button.form-editor {
    cursor: pointer;
    color: #eee7e7;
    font-size: 12px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    padding: 6px 12px;
    border-radius: 1px;
}

button.form-editor:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button.form-editor.add {
    background-color: #68b928;
}

button.form-editor.add:hover {
    background-color: #64ad2b;
}

button.form-editor.add:active {
    background-color: #5f9e2e;
}

button.form-editor.add2 {
    background-color: #508f1e;
}

button.form-editor.add2:hover {
    background-color: #4a801f;
}

button.form-editor.add2:active {
    background-color: #457220;
}

button.form-editor.info {
    background-color: #4a8cf6;
}

button.form-editor.info:hover {
    background-color: #4d81d5;
}

button.form-editor.info:active {
    background-color: #4e6fa3;
}

button.form-editor.update {
    background-color: #ec8b23;
}

button.form-editor.update:hover {
    background-color: #e38827;
}

button.form-editor.update:active {
    background-color: #dc882e;
}

button.form-editor.delete {
    background-color: #f61d22;
}

button.form-editor.delete:hover {
    background-color: #e82227;
}

button.form-editor.delete:active {
    background-color: #de262b;
}

button.form-editor.default {
    background-color: #c7bbbb;
    color: #ffffff;
}

button.form-editor.default:hover {
    background-color: #e3dcdc;
}

button.form-editor.default:active {
    background-color: #dbd0d0;
}

textarea {
    border-color: #e2e2e2;
    outline: none;
    padding: 5px;
}

/*抽屉窗口*/
.pop-window-container{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px #e2e2e2;
    border-radius: 5px;
    transition: 300ms ease-in;
    z-index: 100;
    display: none;
}
.pop-window-container.pop{
    display: block;
}

/*自定义表格*/
.custom-table{
    width: 100%;
    position: relative;
}
.custom-table>.table-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(230,230,230,0.3) url("/pc/image/table-loding.gif") no-repeat;
    background-size: 48px;
    background-position-x: 48%;
    background-position-y: 48%;
}
.custom-table>table{
    width: 100%;
    border-collapse: collapse;
}
.custom-table>table>thead>tr>th,.custom-table>table>tbody>tr>td{
    border: 1px solid #efefef;
}
.custom-table>table>thead>tr{
    background-image: linear-gradient(to bottom,#F9F9F9 0,#efefef 100%);
}
.custom-table>table>thead>tr>th{
    padding: 5px 0;
    font-size: 14px;
}
.custom-table>table>thead>tr>th:hover{
    background-color: #eaf2ff;
}
.custom-table>table>tbody>tr>td{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.custom-table>table>tbody>tr:nth-of-type(odd){
    background: #ffffff;
}
.custom-table>table>tbody>tr:nth-of-type(even){
    background: #fafafa;
}
.custom-table>.table-body{
    font-size: 13px;
}
.custom-table>.table-body tr:hover{
    background-color: #d8e0f9;
}
.custom-table>.table-body td>.form-editor{
    margin: 0 10px;
}
.custom-table>.table-bottom{
    height: 30px;
    line-height: 30px;
    color: #99999a;
    margin-top: 8px;
    user-select: none;
}
.custom-table>.table-bottom .page-rows{
    margin-right: 10px;
}
.custom-table>.table-bottom .page-rows select{
    border: 1px solid #e3e3e3;
    outline: none;
}
.custom-table>.table-bottom .pager{
    float: right;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
}
.custom-table>.table-bottom .pager>li{
    float: left;
    color: #718697;
    cursor: pointer;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #e3e3e3;
    padding: 0 8px;
    min-width: 36px;
    text-align: center;
}
.custom-table>.table-bottom .pager>li:hover{
    background-color: #f6f6f6;
}
.custom-table>.table-bottom .pager>li:active{
    background-color: #f2f2f2;
}
.custom-table>.table-bottom .pager>li.active{
    background-color: #418bca;
    color: #ffffff;
}
.custom-table>.table-bottom .pager>li.last{
    border-right-width: 0;
}