.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
}
.container>.header{
    display: flex;
    flex: 0 0 4px;
    transition: 100ms ease-in;
}
.container>.header>*{
    display: none !important;
}
.container>.header,.container>.context>.menu>.toolbar>.handrail{
    background-color: #26282a;
    border: 2px solid transparent;
}
.container>.header.hover,.container>.context>.menu>.toolbar>.handrail.hover{
    border-color: #333638;
}
.container>.header.show{
    flex-basis: 200px;
    padding: 25px 35px 35px 35px;
}
.container>.header.show>*{
    display: flex !important;
}
.container>.header>.information{
    display: flex;
    flex: 1 1 50%;
}
.container>.header>.information>.head-img{
    flex: 0 0 126px;
    height: 126px;
    border-radius: 100%;
    background-size: 100% 100%;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #e2e2e2;
}
.container>.header>.information>.head-img>img{
    height: 100%;
    width: 100%;
}
.container>.header>.information>.head-img>div{
    position: absolute;
    top: 48px;
    visibility: hidden;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border-radius: 5px;
    z-index: 1;
}
.container>.header>.information>.head-img>div>div{
    display: none;
    width: 100%;
    height: 100%;
    color: #0b3f8c;
    background-color: #70c2f3;
}
.container>.header>.information>.head-img:hover>div{
    visibility: visible;
}
.container>.header>.information>.head-img>div:hover>div{
    display: block;
}
.container>.header>.information>.feature{
    flex: 1 1 100%;
    margin-left: 18px;
}
.container>.header>.information>.feature>.text{
    height: 50%;
    padding-top: 6px;
}
.container>.header>.information>.feature .name{
    width: fit-content;
    font-size: 20px;
    color: #dec6e6;
    position: relative;
}
.container>.header>.information>.feature .name::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #7d6165;
    position: absolute;
    top: 9px;
    right: -18px;
}
.container>.header>.information>.feature .name.online::after{
    background-color: #68b928;
}
.container>.header>.information>.feature .dept{
    font-size: 12px;
    color: #7f7979;
}
.container>.header>.information>.feature>.setting{
    height: 50%;
    padding-top: 10px;
}
.container>.header>.information>.feature>.setting>button{
    background-color: #353838;
}
.container>.header>.information>.feature>.setting>button:hover{
    background-color: #363b3b;
}
.container>.header>.information>.feature>.setting>button:active{
    background-color: #393d3d;
}
.container>.header>.notification{
    flex: 1 1 50%;
    flex-direction: column;
    color: #dec6e6;
    padding-left: 72px;
    border-left: 1px solid #595e5f;
}
.container>.header>.notification>.title{
    font-size: 20px;
}
.container>.header>.notification>ul{
    margin-top: 14px;
    padding-left: 4px;
    color: #ffffff;
}
.container>.header>.notification>ul>li{
    margin-top: 6px;
}
.container>.header>.notification>ul>li>label>span{
    margin-left: 8px;
}
.application-list{
    padding: 30px 20px 20px 20px;
    font-size: 14px;
}
.application-group{
    display: none;
}
.expansion>.application-group{
    display: block;
}
.application-item{
    border-top: 1px solid #595e5f;
}
.application-item.first{
    border-top-color: transparent;
}
.application-item>.application-group{
    padding-left: 5px;
}
.application-item-wrapper{
    height: 48px;
    padding-left: 10px;
    line-height: 48px;
    color: #979798;
    cursor: pointer;
    display: flex;
}
.application-item-wrapper:hover{
    background-color: #2c3535;
}
.application-item-wrapper:active{
    background-color: #2c3f3f;
}
.application-item-wrapper>.icon{
    flex: 0 0 22px;
}
.application-item-wrapper>.name{
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.application-item-wrapper>.btn{
    flex: 0 0 22px;
    position: relative;
}
.application-item-wrapper.branch>.btn::before{
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #979798;
    position: absolute;
    top: 43%;
    margin-top: -0.5px;
    left: 0;
    transform: rotate(45deg);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.application-item-wrapper.branch>.btn::after{
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #979798;
    position: absolute;
    top: 57%;
    margin-top: -0.5px;
    left: 0;
    transform: rotate(-45deg);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.application-item-wrapper.active{
    color: #ffffff;
}
.application-item-wrapper.expand>.btn::before{
    left: -14%;
    top: 46%;
}
.application-item-wrapper.expand>.btn::after{
    top: 46%;
    left: 20%;
}
.container>.context{
    flex: 1 1 100%;
    display: flex;
}
.container>.context>.menu{
    height: 100%;
    flex: 0 0 190px;
    background-color: #2c2e2e;
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container.pack-menu>.context>.menu{
    flex: 0 0 40px;
}
.container.pack-menu>.context>.menu>.toolbar{
    padding-left: 0;
}
.container.pack-menu>.context>.menu>.toolbar>.company-icon{
    display: none;
}
.container.pack-menu>.context>.menu>.application-list{
    padding-left: 0;
    padding-right: 0;
}
.container.pack-menu>.context>.menu>.application-list .application-item-wrapper>.name,.container.pack-menu>.context>.menu>.application-list .application-item-wrapper>.btn{
    display: none;
}
.container.pack-menu>.context>.menu>.toolbar>.handrail{
    right: 0;
}
.container>.context>.menu>.toolbar{
    height: 68px;
    line-height: 68px;
    border-bottom: 1px solid #595e5f;
    position: relative;
    color: #f9f9f9;
    padding-left: 33px;
    font-size: 20px;
}
.container>.context>.menu>.toolbar>.handrail{
    line-height: 68px;
    width: 40px;
    height: 52px;
    position: absolute;
    right: 30px;
    top: -2px;
    text-align: center;
    color: #83848a;
    border-top-width: 0;
}
.container>.context>.menu>.toolbar>.handrail>i{
    cursor: pointer;
}
.container>.context>.activity{
    height: 100%;
    flex: 1 1 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
}
.container>.context>.activity>.toolbar{
    flex: 0 0 68px;
    line-height: 28px;
    background-color: #ffffff;
    padding: 20px;
}
.container>.context>.activity>.toolbar>.toolbar-item{
    height: 100%;
}
.container>.context>.activity>.toolbar>.toolbar-item.left{
    float: left;
}
.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon,.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon::before,.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon::after{
    display: inline-block;
    width: 15px;
    height: 3px;
    background-color: #99999a;
}
.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon:hover,.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon:hover::before,.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon:hover::after{
    background-color: #8e8e93;
}
.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon:active,.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon:active::before,.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon:active::after{
    background-color: #83838b;
}
.container>.context>.activity>.toolbar>.toolbar-item.menu-btn{
    cursor: pointer;
}
.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon{
    position: relative;
    margin-top: 8px;
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container.pack-menu>.context>.activity>.toolbar>.toolbar-item>.menu-icon{
    transform: rotate(90deg);
}
.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon::before{
    content: "";
    position: absolute;
    top: 5px;
}
.container>.context>.activity>.toolbar>.toolbar-item>.menu-icon::after{
    content: "";
    position: absolute;
    top: 10px;
}
.container>.context>.activity>.toolbar>.toolbar-item.right{
    float: right;
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info{
    display: flex;
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.head-img{
    height: 28px;
    width: 28px;
    display: inline-block;
    background: #e2e2e2;
    background-size: 100% 100%;
    border-radius: 100%;
    overflow: hidden;
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.head-img>img{
    height: 100%;
    width: 100%;
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.name{
    margin: 0 25px 0 10px;
    position: relative;
    color: #a2a5b7;
    cursor: pointer;
    font-weight: bold;
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.name::before,.container>.context>.activity>.toolbar>.toolbar-item.self-info>.name::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: #a2a5b7;
    position: absolute;
    top: 13px;
    transition: 300ms ease-in;
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.name::before{
    right: -11px;
    transform: rotate(45deg);
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.name::after{
    right: -17px;
    transform: rotate(-45deg);
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.name.active::before{
    transform: rotate(-45deg);
}
.container>.context>.activity>.toolbar>.toolbar-item.self-info>.name.active::after{
    transform: rotate(-135deg);
}
.container>.context>.activity>.route{
    display: flex;
    flex: 0 0 30px;
    margin-top: 2px;
    background-color: #f9f9f9;
    padding: 4px 6px;
    letter-spacing: 1px;
    color: #7f7f86;
}
.container>.context>.activity>.route>.route-item{
    height: 210%;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
    transform: rotate(18deg) translate(-3px,-11px);
}
.container>.context>.activity>.route>.route-item>.route-item-wrapper{
    width: 120%;
    padding: 0 15px;
    text-align: center;
    transform: rotate(-18deg) translate(-7px, 8px);
}
.container>.context>.activity>.route>.route-item>.route-item-wrapper:hover{
    color: #5f6466;
    background-color: #f2f2f2;
}
.container>.context>.activity>.route>.route-item>.route-item-wrapper:active{
    color: #555b5e;
    background-color: #efefef;
}
.container>.context>.activity>.route>.route-item>.route-item-wrapper.active{
    color: #4c5153 !important;
    background-color: transparent !important;
    cursor: initial;
    font-weight: bold;
}
.container>.context>.activity>.route>.route-separation{
    cursor: default;
    width: 1px;
    height: 12px;
    margin: 5px 1px 0 1px;
    background-color: #99999a;
    padding: 0;
    transform: rotate(20deg);
}
.container>.context>.activity>.panel-container{
    overflow: hidden;
    width: 100%;
    padding: 10px 30px;
}
.container>.context>.activity>.panel-container>.panel-wrapper{
    width: 100%;
    height: 100%;
}
.container>.context>.activity>.panel-container>.panel-wrapper>.panel-content{
    width: 100%;
    padding: 15px;
    background-color: #ffffff
}

.logout-pop-window{
    padding: 5px 0;
}
.logout-btn{
    text-align: center;
    padding: 3px 34px;
    cursor: pointer;
    font-size: 14px;
}
.logout-btn:hover{
    background-color: #fbfbfb;
}
.logout-btn:active{
    background-color: #f9f9f9;
}

.panel-content>.penal-header{
    height: 60px;
    padding-top: 15px;
    border-bottom: 2px solid #f3f3f3;
}
.panel-content>.penal-body{
    margin-top: 15px;
}

/*头像弹框*/
.user-head-img-container{
    display: flex;
    line-height: 50px;
}
.user-head-img-container>.img{
    width: 80px;
    height: 80px;
    background-color: #e2e2e2;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}
.user-head-img-container>.img>img{
    width: 100%;
    height: 100%;
}
.upload-progress{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}
.upload-progress.show{
    display: block;
}
.upload-progress-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.upload-progress-bar,.upload-progress-bg{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
    height: 20px;
}
.upload-progress-bar{
    width: 10%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(45deg, #fca311 25%, transparent 25%, transparent 50%, #fca311 50%, #fca311 75%, transparent 75%, transparent);
    transition: 0.4s linear;
    transition-property: width, background-color;
    animation: progressAnimationStrike 6s;
}
.upload-progress-bg{
    z-index: 2;
    line-height: 20px;
    text-align: center;
    color: #5aa5a9;
    background: rgba(210,210,210,0.5);
}
.user-head-img-container>.line{
    height: 80px;
    width: 1px;
    background-color: #e2e2e2;
    margin-left: 10px;
}
.user-head-img-container>.btn{
    margin-left: 20px;
}
/*用户信息弹框*/
.user-info-container{
    width: 400px;
    padding: 0 30px;
}
.user-info-container .change-pwd-line{
    text-align: center;
    padding-top: 8px;
    position: relative;
    cursor: pointer;
    color: blue;
}
.user-info-container .change-pwd-line::before{
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    height: 1px;
    width: 42%;
    background-color: #a9a1a1;
}
.user-info-container .change-pwd-line::after{
    content: "";
    position: absolute;
    top: 70%;
    right: 0;
    height: 1px;
    width: 42%;
    background-color: #a9a1a1;
}
.user-info-container .change-pwd-line.down::before,.user-info-container .change-pwd-line.down::after{
    background-color: #6794e0;
}
.user-info-container .pwd-area{
    display: none;
}
.user-info-container .pwd-area.show{
    display: block;
}