.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
}
.container>.header{
    display: flex;
    flex: 0 0 4px;
    transition: 100ms ease-in;
}
.container>.header>*{
    display: none !important;
}
.container>.header,.container>.context>.menu>.toolbar>.handrail{
    background-color: #26282a;
    border: 2px solid transparent;
}
.container>.header.hover,.container>.context>.menu>.toolbar>.handrail.hover{
    border-color: #333638;
}
.container>.header.show{
    flex-basis: 200px;
    padding: 25px 35px 35px 35px;
}
.container>.header.show>*{
    display: flex !important;
}
.container>.header>.information{
    display: flex;
    flex: 1 1 50%;
}
.container>.header>.information>.head-img{
    flex: 0 0 126px;
    height: 126px;
    border-radius: 100%;
    background-color: red;
}
.container>.header>.information>.feature{
    flex: 1 1 100%;
    margin-left: 18px;
}
.container>.header>.information>.feature>.text{
    height: 50%;
    padding-top: 6px;
}
.container>.header>.information>.feature .name{
    width: fit-content;
    font-size: 20px;
    color: #dec6e6;
    position: relative;
}
.container>.header>.information>.feature .name::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #7d6165;
    position: absolute;
    top: 9px;
    right: -18px;
}
.container>.header>.information>.feature .name.online::after{
    background-color: #68b928;
}
.container>.header>.information>.feature .dept{
    font-size: 12px;
    color: #7f7979;
}
.container>.header>.information>.feature>.setting{
    height: 50%;
    padding-top: 10px;
}
.container>.header>.information>.feature>.setting>button{
    background-color: #353838;
}
.container>.header>.information>.feature>.setting>button:hover{
    background-color: #363b3b;
}
.container>.header>.information>.feature>.setting>button:active{
    background-color: #393d3d;
}
.container>.header>.notification{
    flex: 1 1 50%;
    flex-direction: column;
    color: #dec6e6;
    padding-left: 72px;
    border-left: 1px solid #595e5f;
}
.container>.header>.notification>.title{
    font-size: 20px;
}
.container>.header>.notification>ul{
    margin-top: 14px;
    padding-left: 4px;
    color: #ffffff;
}
.container>.header>.notification>ul>li{
    margin-top: 6px;
}
.container>.header>.notification>ul>li>label>span{
    margin-left: 8px;
}
.application-list{
    padding: 30px 20px 20px 20px;
    font-size: 14px;
}
.application-group{
    display: none;
}
.expansion>.application-group{
    display: block;
}
.application-item{
    border-top: 1px solid #595e5f;
}
.application-item.first{
    border-top-color: transparent;
}
.application-item-wrapper{
    height: 48px;
    padding-left: 10px;
    line-height: 48px;
    color: #979798;
    cursor: pointer;
    display: flex;
}
.application-item-wrapper:hover{
    background-color: #2c3535;
}
.application-item-wrapper:active{
    background-color: #2c3f3f;
}
.application-item-wrapper>.icon{
    flex: 0 0 22px;
}
.application-item-wrapper>.name{
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.application-item-wrapper>.btn{
    flex: 0 0 22px;
    position: relative;
}
.application-item-wrapper.branch>.btn::before{
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #979798;
    position: absolute;
    top: 43%;
    margin-top: -0.5px;
    left: 0;
    transform: rotate(45deg);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.application-item-wrapper.branch>.btn::after{
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #979798;
    position: absolute;
    top: 57%;
    margin-top: -0.5px;
    left: 0;
    transform: rotate(-45deg);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.application-item-wrapper.active{
    color: #ffffff;
}
.application-item-wrapper.expand>.btn::before{
    left: -14%;
    top: 46%;
}
.application-item-wrapper.expand>.btn::after{
    top: 46%;
    left: 20%;
}
.container>.context{
    flex: 1 1 100%;
    display: flex;
}
.container>.context>.menu{
    height: 100%;
    flex: 0 0 190px;
    background-color: #2c2e2e;
}
.container>.context>.menu>.toolbar{
    height: 68px;
    line-height: 68px;
    border-bottom: 1px solid #595e5f;
    position: relative;
    color: #f9f9f9;
    padding-left: 33px;
    font-size: 20px;
}
.container>.context>.menu>.toolbar>.handrail{
    line-height: 68px;
    width: 40px;
    height: 52px;
    position: absolute;
    right: 30px;
    top: -2px;
    text-align: center;
    color: #83848a;
    border-top-width: 0;
}
.container>.context>.menu>.toolbar>.handrail>i{
    cursor: pointer;
}
.container>.context>.activity{
    height: 100%;
    flex: 1 1 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
}
.container>.context>.activity>.toolbar{
    flex: 0 0 68px;
    background-color: #ffffff;
}
.container>.context>.activity>.route{
    flex: 0 0 30px;
    margin-top: 2px;
    background-color: #f9f9f9;
}
.container>.context>.activity>.panel-container{
    flex: 1 1 100%;
    width: 100%;
    padding: 10px 20px;
}